*{
  margin: 0;
}

html, body{

  --grey: hsl(240, 9%, 89%);
  --black: #202024;

  width: 100%;

  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body{
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #09090A;
}

main{
  width: 375px;
  height: 812px;
  background-color: var(--black);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#vetor{
  width: 375px;
  position: absolute;
  border-radius: 2rem;
}

.active{
  opacity: 100%;
}

.details{
  display: flex;
  justify-content: center;
}

.lights{
  position: absolute;
  background: linear-gradient(to right, #FF008E, #FFCD1E);
  width: 27rem;
  height: 19rem;
}

.lights::before{
  content: '';
  position: absolute;
  bottom: -7rem;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

#light1{
  opacity: 70%;
}
#light1::before{
  background: linear-gradient(to right, #FF008E, #FFCD1E);
  animation: lights 2s;
  opacity: 70%;
}

#light2{
  opacity: 0%;
}
#light2::before{
  background: linear-gradient(to right, #8000FF, #1ED7FF);
  animation: lights 2s;
  opacity: 70%;
}

#light3{
  opacity: 0%;
}
#light3::before{
  background: linear-gradient(to right, #0500FF, #1EFF93);
  animation: lights 2s;
  opacity: 70%;
}


.container{
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;

  color: var(--grey);
  -webkit-font-smoothing: antialiased;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar{
  width: 16rem;

  margin: 18.4rem auto 0;
  position: relative;
}

.avatar span{
  position: absolute;
  top: -15px;
  z-index: 1;
}

.person{
  width: 16rem;
  height: 18.4rem;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.person:hover{
  filter: brightness(1.1);
}

h1{
  font-size: 2.4rem;

  margin-top: 2.4rem;
}

a{
  font-size: 1.6rem;
  margin-top: .4rem;
  text-decoration: none;
  color: var(--grey);

  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

p{
  font-size: 1.3rem;
  text-align: center;
  margin-top: 3.2rem;
}

ul{
  margin-top: 6.4rem;
  list-style: none;
  padding: 0;
  
  display: flex;
  justify-content: center;

  gap: .8rem; 
  /* espaço entre os itens da ul*/
}

li{
  background: #39393a;
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

li:hover{
  background: linear-gradient(130deg, #FF008E, #FFCD1E);
}
li img{
  width: 100%;
}

.itemsCustoms{
  margin-top: 3rem;
  width: 20rem;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.selectColor{
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  clip-path: circle();
  background: #FF008E;
  cursor: pointer;
}

.selectColor:nth-child(1){
  background: linear-gradient(90deg, #FF008E, #FFCD1E);
}

.selectColor:nth-child(2){
  background: linear-gradient(90deg, #8000FF, #1ED7FF);
}

.selectColor:nth-child(3){
  background: linear-gradient(90deg, #0500FF, #1EFF93);
}

.column1{
  color: white;
  width: 80vw;
  text-align: left;
  margin: 3rem;

  padding: 2rem;
  border-left: #FFCD1E 3px solid;
}

.column3{
  color: white;
  font-size: 3rem ;
  font-weight: 700;
  text-align: right;
  width: 70vw;
  margin: 3rem;

  padding: 2rem;
  border-right: #FFCD1E 3px solid;
}

.column1 h1, .column3 h1 {
  font-size: 4rem;
  margin: 0;
}

.column1 h2{
  font-size: 2rem;
}

  .column1 p{
  font-size: 1.4rem;
  text-align: left;
}

@keyframes lights{
  from{
    opacity: 0;
  }

  to{
    opacity: 70%;
  }
}

/* IPad */
/* @media (min-width: 768px){
  main{
    height: 812px;
  }
  .avatar{
    margin: 17.4rem auto 0;
    width: auto;
  }
  .person{
    width: 18rem;
    height: 20.4rem;
  }
  .container{
    max-width: 35rem;
  }
  h1{
    width: auto;
    font-size: 3.4rem;
  }
  a{
    font-size: 2rem;
    align-items: center;
  }
  a img{
    width: 2rem;
  }
  p{
    font-size: 1.5rem;
  }
  li{
    width: 6rem;
    height: 6rem;
  }
  li img{
    width: 100%;

  }
  .column1 p{
    font-size: 1.5rem;
  }

} */

/* IPhone X */
/* @media (min-width: 375px) and (max-width: 539px){
  main{
    width: 80vw;
    height: 630px;
  }
  .avatar{
    margin: 12.4rem auto 0;
    width: auto;
  }
  .person{
    width: 12rem;
    height: 13.4rem;
  }
  .container{
    max-width: 20rem;
  }
  #vetor{
    width: 80vw;
  }
  .lights{
    width: 20rem;
    height: 14rem;
  }
  h1{
    width: auto;
    font-size: 2rem;
  }
  a{
    font-size: 1.4rem;
    align-items: center;
  }
  a img{
    width: 1.4rem;
  }
  p{
    font-size: 1.2rem;
  }
  li{
    width: 3rem;
    height: 3rem;
  }
  .column1 p{
    font-size: 1.2rem;
  }

} */

/* Desktop*/
@media (min-width: 1024px){
  html, body{
    height: 100%;
  }
  body{
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  main{
    width: 358px;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  #vetor{
    width: 358px;
    height: 150px;


    object-fit: cover;
    object-position: bottom;
  }
  .lights{
    width: 15rem;
    height: 10rem;
  }
  .avatar{
    margin: 9.4rem auto 0;
    width: auto;
  }
  .avatar span img{
    width: 5rem;
    top: 2rem;
  }
  .person{
    width: 10rem;
    height: 11.4rem;
  }
  .container{
    max-width: 25rem;
  }
  h1{
    width: auto;
    font-size: 2rem;
  }
  a{
    font-size: 1.3rem;
    align-items: center;
  }
  a img{
    width: 1.3rem;
  }
  p{
    font-size: 1.2rem;
  }
  li{
    width: 4rem;
    height: 4rem;
  }
  li img{
    width: 1.8rem;
  }
  .column1, .column3{
    width: 30rem;
  }
  .column1 h1, .column3 h1{
    font-size: 2rem;
  }
  .column1 h2{
    font-size: 1.5rem;
  }
  .column1 p{
    font-size: 1.2rem;
  }
  .itemsCustoms{
    width: 15rem;
  }
  .selectColor{
    width: 3rem;
  }

  .cord{
    width: 8rem;
    height: 10.6rem;

    position: absolute;
    top: 0rem;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ribbon{
    width: 6.4rem;
    height: 100%;
    background: linear-gradient(to bottom, #FF008E, #FFCD1E);

    position: absolute;
    z-index: 1;
  }
  .hole{
    width: 8rem;
    height: .8rem;
    background: #09090A;

    position: relative;
    top: 10.2rem;
  }

  .backlight{
    position: absolute;
    z-index: -1;

    top: -65rem;

    display: flex;
  }

  .yellowLight, .pinkLight{
    width: 60rem;
    height: 60rem;

    filter: blur(20rem);
  }
  .yellowLight{
  background: #FFCD1E;

  position: relative;
  left: 20rem;
  }
  .pinkLight{
    background: #FF008E;
    position: relative;
    left: -20rem;
  }
}

@media (min-height: 661px){
  .cord{
    height: 0;
    width: 0;
  }
}

@media (width: 360px) and (height: 640px){
  main{
    width: 80vw;
    height: 650px;
  }
  #vetor{
    width: 80vw;
  }
  .lights{
    height: 15rem;
    width: 20rem;
  }
  .person{
    width: 12rem;
    height: 13.4rem;
  }
  .avatar{
    margin-top: 14.6rem;
  }
}

@media (max-height: 640px){
  .container{
    max-width: 17rem;
  }
  h1{
    width: auto;
    font-size: 1.7rem;
  }
  a{
    font-size: 1rem;
    align-items: center;
  }
  a img{
    width: 1.5rem;
  }
  p{
    font-size: 1.2rem;
  }
  li{
    width: 3rem;
    height: 3rem;
  }
  li img{
    width: 1.5rem;
  }
}

@media (max-height: 645px){
  .cord{
    height: 16%;
  }
  .hole{
    top: 96.2%;
  }
}

@media (max-height: 545px){
  main{
    height: 80vh;
    overflow: scroll;
  }
  #vetor{
    height: 30vh;
  }
  .lights{
    width: 15rem;
    height: 15vh;
  }
  .avatar{
    margin: 18vh auto 0;
    width: auto;
  }
  .avatar span img{
    width: 5rem;
    top: 2rem;
  }
  .person{
    width: 10rem;
    height: 11.4rem;
  }
  .container{
    max-width: 15vw;
  }
  h1{
    width: auto;
    font-size: 2vw;
  }
  a{
    font-size: 1.3rem;
    align-items: center;
  }
  a img{
    width: 1.3rem;
  }
  p{
    font-size: 0;
    width: 0;
    height: 0;
  }
  ul{
    margin-top: 1rem;
  }
  li{
    width: 4rem;
    height: 4rem;
  }
  li img{
    width: 1.8rem;
  }
  .column1 p{
    font-size: 1.2rem;
    width: 100%;
  }
  .cord{
    width: 0;
    height: 0;
  }
}

@media (max-height: 490px){
  .avatar{
    margin-top: 10vh;
  }
  .person{
    width: 7rem;
    height: 8.4rem;
  }
  #vetor{
    height: 0;
    width: 0;
  }
  .lights{
    height: 0;
    width: 0;
  }
  li{
    width: 3rem;
    height: 3rem;
  }
  li img{
    width: 1.5rem;
  }
}

@media (max-height: 390px){
  main{
    height: 30rem;
  }
  .avatar{
    margin-top: 3rem;
  }
  .person{
    width: 7rem;
    height: 8.4rem;
  }
  #vetor{
    height: 0;
    width: 0;
  }
  .lights{
    height: 0;
    width: 0;
  }
  li{
    width: 3rem;
    height: 3rem;
  }
  li img{
    width: 1.5rem;
  }
}

@media (max-height: 290px){
  html, body{
    height: auto;
  }
}